.hidden {
  display: none !important;
}

.container {
  max-width: 576px;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-half {
  flex-basis: calc(100% / 2);
}

.welcome {
  width: 50%;
}

.nav-search {
  width: 80px;
}

.otaku-row {
  align-items: center;
}

.align-right {
  display: flex;
  justify-content: center;
}

.landing-row {
  justify-content: center;
}

.search-row {
  flex-wrap: nowrap;
  align-items: start;
}

.style-column {
  flex-basis: calc(100% / 2);
}

.column-third {
  margin-top: 1.5rem;
}

.uWu-row {
  justify-content: center;
}

.modal-row {
  justify-content: space-between;
}

@media screen and (min-width: 769px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }

  .column-half {
    width: 50%;
    padding: 0.5rem;
  }

  .landing-column {
    width: 60%;
  }

  .welcome {
    width: 40%;
  }

  .nav-search {
    width: 120px;
  }

  .column-third {
    flex-basis: calc(100% / 3);
  }

  .column-two-thirds {
    flex-basis: calc(200% / 3);
  }

  .cancel {
    height: 2rem;
  }

  .confirm {
    height: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .image-column {
    margin-left: -2.5rem;
  }

  .text-column {
    margin-left: 1rem;
  }

  dialog {
    width: 70%;
  }

  .uWu {
    font-size: 14px;
  }
}
