.hidden {
  display: none !important;
}

.container {
  max-width: 576px;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 100%;
}

.welcome {
  width: 60%;
}

@media screen and (min-width: 769px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }

  .column-half {
    width: 50%;
    padding: 0.5rem;
  }

  .landing-column {
    width: 80%;
  }

  .welcome {
    width: 30%;
  }
}

.otaku-row {
  align-items: center;
}

.align-right {
  display: flex;
  justify-content: center;
}

.landing-row {
  justify-content: center;
}
